<div class="Navbar">
    <ul>
        <div class="ulleft">
            <li class="liLeft"><a class="raw" href="/">Home</a></li>
            <li class="liLeft"><a class="raw" href="/blog/">blog</a></li>
            <li class="liLeft"><a class="raw" href="/About/">About</a></li>
            <li class="liLeft">
                <div class="dropdown">
                    <a class="raw">More</a>
                    <div class="dropdown-content">
                        <a class="raw">Test</a>
                        <a class="raw">Test</a>
                        <a class="raw">Test</a>
                    </div>
                </div>
            </li>
            <li class="liLeft"><a class="raw">test</a></li>
        </div>
        <div class="ulright">
            <li class="liRight"><a class="button">Test T</a></li>
        </div>
    </ul>
</div>